$primary: #006699;

h1, h2, h3, h4, h5, h6, p, *, ul {
	padding: 0;
	margin: 0;
}
html, body {
	height: 100%;
}

label {
	font-weight: normal;
}

#left-menu{
	#bg-sidebar {
		background: rgba(0,0,0,.575);
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 993;
		position: fixed;
		display: none;
	}
	#sidebar {
		height: 100%;
		background: #151719;
		width: 200px;
		position: fixed;
		z-index: 994;
		left: -200px;
		transition: all .175s ease-in-out;

		a {
			color: #fff;
		}
		ul {
			padding-top: 55px;
		}
		ul li {
			padding: 15px 10px;
			cursor: pointer;
			border-bottom: 1px solid rgba(100,100,100,0.285);
		}
		ul li:hover {
			background: red;
		}

		.toggle-btn {
			cursor: pointer;
			position: absolute;
			z-index: 995;
			right: 0;
			margin-top: 10px;
			margin-right: 10px;
			
			span {
				width: 26px;
				height: 3.5px;
				background: #fff;
				margin: 4px 0;
				display: block;				
			}
		}

		&.active {
			left: 0;
		}
	}
}


// Navigation Section
#navigation {
	background: #202020;
	width: 100%;
	padding: 0 80px;
	box-shadow: 0 4px 8px rgba(0,0,0,0.215);
	position: fixed;
	z-index: 989;

	.toggle-btn {
		cursor: pointer;
		position: absolute;
		z-index: 991;
		left: 0;
		margin-top: 10px;
		margin-left: 10px;
		
		span {
			width: 26px;
			height: 3.5px;
			background: #fff;
			margin: 4px 0;
			display: none;

			@media (max-width: 801px) {
				display: block;
			}
		}
	}


	.logo {
		float: left;
		width: 45%;
		text-transform: uppercase;
		letter-spacing: 2px;
		transition: all .15s ease-in-out;

		h1 {
			font-size: 1.75em;
			color: #fff;
			margin: 10px 0;
			transition: all .15s ease-in-out;

			@media (max-width: 480px) {
				font-size: 1.25em;
				padding: 13.5px 0;
			}
		}
		@media (max-width: 801px) {
			text-align: center;
			width: 100%;
		}
	}

	.menu {
		float: right;
		@media (max-width: 801px) {
			display: none;
		}
	}
	.menu ul {
		list-style: none;
	}
	.menu ul li {
		display: inline-block;
		padding: 0 1.25em;
		margin: 0 0.25em;
		cursor: pointer;
		transition: all .1s ease-in-out;
	}
	.menu ul li:hover {
		background: red;
	}
	.menu ul li a {
		color: #fff;
		text-decoration: none;
		line-height: 3.5em;
	}
}

// Car List Section
#car-list {
	p {
		line-height: 30px;
		font-size: 14px;
	}
	h3 {
		color: #525252;
		margin: 10px 0;
	}

	#car {
		width: auto;
		height: 100%;
		float: right;

		@media (max-width: 768px) {
			// width: 300px;
			// height: auto;
		}
	}
	#reserve:active {
		transform: scale(0.945);
	}
}

#fb-icon {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
	line-height: 38px;
	background: #4267B2;
	transition: all .075s ease-in-out;
}
#fb-icon:hover {
	background: rgb(28, 53, 102);
}
#fb-icon:active {
	transform: scale(0.875);
}

